@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Satoshi-Variable";
}

::-webkit-input-placeholder {
  font-family: "Satoshi-Variable";
}

@layer utilities {
  .font-h-main {
    @apply font-clash text-[24px] font-semibold leading-[28x] text-center;
  }
  .font-h-md {
    @apply font-clash text-[36px] font-semibold leading-[44x] text-center;
  }
  .font-h-lg {
    @apply font-clash text-[48px] font-semibold leading-[60x] text-center;
  }
  .font-h1-main {
    @apply font-clash text-[20px] text-black leading-10 font-semibold text-center;
  }
  .font-h1-md {
    @apply font-clash text-[28px] text-black leading-10 font-semibold text-center;
  }
  .font-h1-lg {
    @apply font-clash text-[32px] text-black leading-10 font-semibold text-center;
  }
  .font-main {
    @apply font-satoshi text-[14px] text-black leading-[21px] font-medium text-center;
  }
}
