@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: white;
  font-family: "Satoshi-Variable";
}

::-webkit-input-placeholder {
  font-family: "Satoshi-Variable";
}

/* tailwind customize */
@layer utilities {
  .font-h-main {
    @apply font-clash text-[32px] font-semibold leading-[32px] text-center;
  }
  /* .font-h-md {
    @apply font-clash text-[40px] font-semibold leading-[40px] text-center;
  } */
  .font-h-lg {
    @apply font-clash text-[48px] font-semibold leading-[60px] text-center;
  }
  .font-h {
    @apply font-h-main md:font-h-lg;
  }

  .font-h1-main {
    @apply font-clash text-[24px] text-black leading-8 font-[650] text-center;
  }
  .font-h1-md {
    @apply font-clash text-[30px] text-black leading-9 font-[650] text-center;
  }
  .font-h1-lg {
    @apply font-clash text-[32px] text-black leading-10 font-[650] text-center;
  }
  .font-h1 {
    @apply font-h1-main md:font-h1-md lg:font-h1-lg;
  }
/* 
  .font-h2-main {
    @apply font-clash text-[16px] text-[rgb(20,_20,_27)] leading-6 font-semibold;
  }
  .font-h2-lg {
    @apply font-clash text-[18px] text-[rgb(20,_20,_27)] leading-7 font-semibold;
  } */
  .font-h2 {
    @apply font-clash text-[18px] text-[rgb(20,_20,_27)] leading-7 font-semibold;
  }

  .font-service-lg {
    @apply font-clash text-[64px] text-black leading-[64px] font-semibold text-left;
  }
  .font-service-md {
    @apply font-clash text-[56px] text-black leading-[56px] font-semibold text-left;
  }
  .font-service-main {
    @apply font-clash text-[52px] text-black leading-[52px] font-semibold text-left;
  }
  .font-service {
    @apply font-service-main md:font-service-md lg:font-service-lg;
  }

  .font-service-text {
    @apply font-satoshi text-[#686889] font-normal text-left;
  }

  .font-service-card-text {
    @apply font-clash text-[#b6b6cf] font-normal text-left;
  }
}
/* tailwind customize */

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: auto;
  object-fit: cover;
}
/* swiper */
